*{

}
body{
    background-color: lightgrey;
}
/*Header*/
        .header h1 {
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
            background-color: teal;
            width: 26%;
            border: none;
            padding: 1%;
            margin-left: 5%;
            top: 0px;
            position: absolute;
        }
        .header h1 a{
            color: white;
        }
        .header nav ul li a{
            color: grey;
        }
    /*block*/
        .header div {
            width: 100%;
            border: lightgrey;
            border-style: solid;
            padding: 2.78%;
            background-color: white;
}
/*Nav*/
        .header nav {
            padding-top: 15px;
            margin-right: 20px;
            float: right;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        .header nav ul {
            list-style-type: none;
        }

        .header nav ul li {
            display: inline-block;
            margin-left: 25px;
        }
/*Main*/
        h2{
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: teal;
            padding-top: 3%;
            margin-left: 5%;
        }
        .card-img,
        .card-img-top,
        .card-img-bottom {
            width:40%;
        }
        #weather,#day{
            border: 1px;
            border-style: solid;
        }
        #in,#git{
            width: 20%;
        }

/*Footer*/
        #block3{
           color: white;
           background-color: grey;
           width: 100%;
           padding-left: 50%;
           padding-top: 3%;
           padding-bottom:3% ;
           border:grey;
           border-top: teal;
           border-top-width: 10px ;
           border-style: solid;

           position: absolute;
        }